# Environment files
.env
.env.local

# Node modules
node_modules/

# Output folders
output/

# Excel and template folders
Excel_Files/
letters_doc_templates/

# Python cache
__pycache__/
*.pyc

# Specific files
pre.txt
.gitignore