/* PasswordDemo.css */

.p-password input {
	width: 15rem;
}
.p-head {
	background: #bbf7ff !important;
	color: #000000 !important;
}
.p-max-min {
	background: #fffac9 !important;
	color: #000000 !important;
}

.p-error {
	background: #ffe7e7 !important;
	color: #000000 !important;
}
